<h2>FINAL</h2>
<table class="table table-striped table-crop table-hover mdl-shadow--3dp"> 
    <tr>
        <td>DAY</td>
        <td>08:00 - 11:00</td>
        <td>12:30 - 15:30</td>
        <td>15:30 - 18:30</td>
    </tr>
    <% @myexam.each_with_index do |a, index| %>
        <% if @count == 0 %> 
            <tr> 
            <td> <%= a[0] %> </td>
        <% end %>
        <td>
        <% @classes.each do |class_| %>
            <% if a[1].include? class_.subject_code and not @is_shown.include? class_.subject_code %>
                 <%= class_.subject %>
                 <% @is_shown.add(class_.subject_code) %>
                 <br>
            <% end %>
        <% end %>
        </td>
        <% @count += 1 %>
        <% @count = 0 if @count == 3 %>
        <% if @count == 0 %> </tr> <% end %>
    <% end %>
</table>

<%= link_to "BACK", :back, class: "bg-red mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>



