<h3 class="on-mobile"><i class="glyphicon glyphicon-phone"></i> MOBILE DEVICE <span class="beta">BETA</span></h3>

<%= link_to "GO TO MY TABLE", user_tables_path(current_user), class: "bg-blue mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent " if user_signed_in?  %>
<%= link_to "LOGIN FOR USE TABLE", new_user_session_path, class: "bg-green mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent " if !user_signed_in?  %>
<br><br>
<div class="new-update mdl-shadow--3dp">   
    <div class="txtAboutWebsite mdl-shadow--3dp">
        <h4 class="feature-header"> <i class="glyphicon glyphicon-education"></i> About Website</h4>
    </div>
    <div class="feature-content">
        <ul class="text-left2 list-unstyled">
            <li><h6> &emsp; เว็บไซต์นี้ ใช้ในการวางแผนการลงทะเบียนเรียนล่วงหน้าก่อนที่สำนักทะเบียนจะเปิดให้ลงทะเบียน และ สามารถดูตารางสอบกลางภาคและปลายภาคได้ โดยทางเว็บไซต์จะทำการดึงข้อมูลของทางเว็บสำนักทะเบียนมาประมวลผล</h6></li>
        </ul>
    </div>
</div>
<br>
<div class="new-update mdl-shadow--3dp">   
    <div class="txtFeature mdl-shadow--3dp">
        <h4 class="feature-header"> <i class="glyphicon glyphicon-star"></i> Feature</h4>
    </div>
    <div class="feature-content">
        <ul class="text-left2 "> 
            <li><h6><span class="label label-info">COOL!</span> มีการ ลิ้ง ตารางสอบ Midterm/Final จาก reg.cmu</h6></li>
            <li><h6><span class="label label-info">COOL!</span> สามารถค้นหารายวิชาที่เปิดสอนได้(2/2558)แล้วโดยกดรูป <i class="glyphicon glyphicon-search"></i> ที่มุมบนขวา</h6></li>
            <li><h6>
                <span class="label label-info">COOL!</span> สามารถ Copy class ไปวันอื่นได้ โดยไม่ต้อง กรอกใหม่
                โดยคลิกที่ class นั้นแล้ว กด <i class="glyphicon glyphicon-duplicate" style="color: #fff"></i>
            </h6></li>
        </ul>
    </div>
</div>
<br>
<div class="new-update mdl-shadow--3dp">   

    <div class="txtUpdate mdl-shadow--3dp">
        <h4 class="header-newupdate"> <i class="glyphicon glyphicon-time"></i> Update! </h4>
    </div><br>
    <h5 class="update-header mdl-shadow--3dp"> <i class="glyphicon glyphicon-triangle-bottom"></i> 28 Novmber 2015</h5>
    <div class="update-content">
        <ul class="text-left2"> 
            <li><h6>
                <span class="label label-success">ADD</span> สามารถเพิ่มตารางสอบที่นอกเหนือจากตารางได้แล้ว
            </h6></li>
        </ul>
    </div>

    <h5 class="update-header mdl-shadow--3dp"> <i class="glyphicon glyphicon-triangle-right"></i> 26 Novmber 2015</h5>
    <div class="update-content">
        <ul class="text-left2"> 
            <li><h6>
                <span class="label label-success">ADD</span> สามารถค้นหารายวิชาที่เปิดสอนได้(2/2558)แล้วโดยกดรูป <i class="glyphicon glyphicon-search"></i> ที่มุมบนขวา
                <ul>
                    <li><h6>เมื่อ Search จากหน้า timetable มาช่องให้กรอกวิชาของตารางนั้นให้กรอกด้วย</h6></li>
                </ul>
            </h6></li>
        </ul>
    </div>

    <h5 class="update-header mdl-shadow--3dp"> <i class="glyphicon glyphicon-triangle-right"></i> 24 Novmber 2015</h5>
    <div class="update-content">
        <ul class="text-left2"> 
            <li><h6><span class="label label-warning">CHANGE</span> เปลี่ยนรูปแบบหน้า homepage</h6></li>
            <li><h6><span class="label label-success">ADD</span> เพิ่ม คำอธิบายของแต่ละ Icon ต่างๆ</h6></li>
            <li><h6><span class="label label-success">ADD</span> เพิ่ม ตารางเรียนในหน้า Copy และ Edit</h6></li>
            <li><h6><span class="label label-info">INFO</span> ต้องกรอกข้อมูลการลงวิชาเรียนให้ครบและ ถูกต้องเท่านั้นถึงจะสามารถกด Save ได้</h6></li>
            <li><h6><span class="label label-info">INFO</span> เมื่อกด Save จะมี รูป Load ขึ้นมา</h6></li>
        </ul>
    </div>

    <h5 class="update-header mdl-shadow--3dp"> <i class="glyphicon glyphicon-triangle-right"></i> 23 Novmber 2015</h5>
    <div class="update-content">
        <ul class="text-left2"> 
            <li><h6><span class="label label-success">ADD</span> เพิ่ม ตาราง Final Regular exam 2/2558</h6></li>
            <li><h6><span class="label label-info">INFO</span> ลิ้ง ตารางสอบปกติ Midterm/Final จาก reg.cmu</h6></li>
        </ul>
    </div>

    <h5 class="update-header mdl-shadow--3dp"> <i class="glyphicon glyphicon-triangle-right"></i> 21 Novmber 2015</h5>
    <div class="update-content">
        <ul class="text-left2"> 
            <li><h6><span class="label label-warning">CHANGE</span> เปลี่ยนรูป ปุ่มแก้ไข จาก <i class="glyphicon glyphicon-cog"></i> เป็น <i class="glyphicon glyphicon-edit"></i></h6></li>
            <li><h6><span class="label label-info">INFO</span> สามารถ Copy class ไปวันอื่นได้ โดยไม่ต้อง กรอกใหม่ 
            โดยคลิกที่ class นั้นแล้ว กด <i class="glyphicon glyphicon-duplicate" style="color: #fff"></i></h6></li>
        </ul>
    </div>
</div>
<br>
<br>

<% if user_signed_in? and current_user.username.downcase == "pondpaun7z" %>
    <table class="table table-hover table-striped mdl-shadow--3dp">
        <tr>
            <td><strong>Username</strong></td>
            <td><strong>Number Table</strong></td>
        </tr>
        <% @users.each do |user| %>
            <tr>
                <td><%= link_to user.username, user_tables_path(user) %></td>
                <td><%= user.tables.count %></td>
            </tr>
        <% end %>
    </table>
<% end %>



