<h3>
    <i class="glyphicon glyphicon-home"></i> HOMEPAGE
</h3>

<table class="table table-hover table-striped mdl-shadow--3dp">
    <tr>
        <td><strong>Timetable name</strong></td>
        <td><strong>Username</strong></td>
    </tr>
    <% @users.each do |user| %>
        <% user.tables.order("created_at DESC").each do |table| %>
            <tr>
                <td>    
                    <%= link_to table.name, user_table_classtables_path(user.id, table) %>
                </td>
                <td>
                    <%= link_to user.username, user_tables_path(user.id) %>
                </td>
            <tr>
        <% end %>
    <% end %>
</table>
<%= link_to "GO TO MY TABLE", user_tables_path(current_user), class: "bg-blue mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent " if user_signed_in?  %>


