
/*
 * This is a manifest filile that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require social-share-button
 * require material
 */


a {
    color           : #000 !important;
    text-decoration : none
}

body {
    font-family: 'Maven Pro', sans-serif !important; 
    background-color : #bdc3c7 !important;
}

.mdl-button {
    font-family: 'Maven Pro', sans-serif !important;
    /*height: auto !important;
    padding: 5px 30px 5px 30px !important;
    font-size: 16px !important;*/
}

h1, h2, h3, h4 {
    font-family: 'Maven Pro', sans-serif !important; 
}

h3 > i {
    font-size: 30px !important;
    color: rgb(51, 51, 51) !important;
}

.container-fluid {
    width            : 80%;
    padding          : 10px;
    background-color : #fff;
    text-align       : center;
}

i.glyphicon.glyphicon-plus-sign {
    font-size : 20px;
    color     : #27ae60;
}

i.glyphicon.glyphicon-trash {
    font-size : 20px;
    color     : #c0392b;
}

i.glyphicon.glyphicon-edit {
    font-size : 20px;
    color     : #2c3e50;
}

i.glyphicon.glyphicon-duplicate {
    font-size : 20px;
    color     : #ecf0f1;   
}

i.glyphicon.glyphicon-pencil {
    font-size : 20px;
    color     : #2980b9;      
}

.bg-red {
    background-color : #c0392b !important;
    color            : #fff !important;
}

.bg-green {
    background-color : #2ecc71 !important;
    color            : #fff !important;
}

.bg-silver {
    background-color : #bdc3c7 !important;
    color            : #fff !important;   
}

.bg-blue {
    background-color : #3498db !important;
    color            : #fff !important;
}

.bg-white {
    background-color : #fff !important;
    color            : #fff !important;
}

.bg-midnight {
    background-color : #2c3e50 !important;
    color            : #fff !important;
}

.alert {
    width      : 30%;
    margin     : auto;
    text-align : center;
}

select {
    height             : 34px;

    background-color   : #fff;
    background-image   : none;
    font-size          : 14px;
    color              : #555;
    line-height        : 1.42857143;
    border             : 1px solid #ccc;
    border-radius      : 4px;
    box-shadow         : inset 0 1px 1px rgba(0,0,0,.075);

    -webkit-transition : border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition      : border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition         : border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    -webkit-box-shadow : inset 0 1px 1px rgba(0,0,0,.075);
}

div.remember-switch {
    width: 151px;
    margin: auto;
}

.mdl-switch__label > label {
    margin-right: 14px;
}

#loading {
    display: none;
}

.wrapper {
   display: block;
   min-height: 100%; /* real browsers */
   height: auto !important; /* real browsers */
   height: 100%; /* IE6 bug */
   margin-bottom: -20px; /* กำหนด margin-bottom ให้ติดลบเท่ากับความสูงของ footer */
   text-align: center
}

.footer {
   height: 20px; /* ความสูงของ footer */
   display: block;
   text-align: center;
}

.copyright {
    color: #333 !important;
    text-decoration: underline;
}

.list-inline {
    font-size: 12px !important;
}

.list-inline i {
    font-size: 12px !important;
}

#search-hint {
    display: none;
    font-size: 12px;
    color: #c0392b;
}

table td {
    vertical-align: middle !important;
}

.on-mobile {
    display: none;
    color: #e74c3c;
    font-weight: bolder;
}

.beta {
    color: #7f8c8d;
}

.text-left2  {
    text-align: left !important;
}

.social-share-button-facebook {
    display: inline-block;    
    width: 100px !important;
    height: 60px !important;
    background-size:contain;
    background: url('http://bitcoin-catcher.com/wp-content/uploads/2015/09/facebook-share-button.png') no-repeat !important;
}

.share-button {
    display: -webkit-inline-box;    
}

@media screen and (max-device-width: 996px) {
    .on-mobile {
        display: block;
    }

    body {
        font-size: 26px !important;
        text-align: center !important;
    }
    .container-fluid {
        width            : 100%;
        background-color : #fff;
        text-align       : center;
    }

    .sync-block {
        width: 100%;
    }

    .mdl-button {
        width: 80%;
        font-size: 28px !important;
        border-radius: 10px !important;
        margin: 5px auto !important;
        height: auto !important;
        padding: 10px !important;
    }

    .table-crop {
        width: 100% !important;
    }

    .new-update {
        background-color: #ecf0f1;
        width: 100%;
        font-size: 18px;
    }

    .block {
        width: 100%;
    }

    .txtHeader {
        width: 100%
    }

    .update-header {
        width: 100%;
    }

    .list-inline {
        margin: 10px !important; 
    }

    .list-inline > li {
        display: inline !important;
        font-size: 20px !important;
    }

    .list-inline > li i {
        display: inline !important;
        font-size: 20px !important;
    }

    .text-right {
        text-align: center !important;
    }
    .text-left {
        text-align: center !important;
    }
 
    .pure-menu ul {
        font-size: 25px !important;
    }
    
    .footer {
        font-size: 20px !important;
    }

    .table-name {
        font-size: 27px !important;   
    }
}