// Place all the styles related to the homepages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body > div.container-fluid > div:nth-child(13) > div:nth-child(4) {
    display: block;
}

.sync-block {
    background-color: #ecf0f1;
    padding: 10px;
    padding-bottom: 31px;
    border-radius: 10px;
    width: 70%;
    margin: auto;
}

.block {
    margin: auto;
    background-color: #ecf0f1;
    width: 60%;
    border-radius: 10px;
    padding: 10px;

    h6 {
        display: inline;
    }

    ul > li {
        font-size: 16px;
        color: #000;    
    }
}

.ui-widget {
    font-family: 'Maven Pro', sans-serif !important; 
}

#accordion p ul li {
    font-family: 'Maven Pro', sans-serif !important;    
}

div.target p {
    font-family: 'Maven Pro', sans-serif !important; 
}


.update-header {
    font-family: 'Maven Pro', sans-serif !important; 
    background-color: #27ae60;
    color: #fff;
    border-radius: 10px;
    margin: auto;
    width: 50%;
    padding: 10px;
    cursor: pointer;

    i {
       color: #c0392b;
    }
}

.update-content {
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    width: 90%;
    display: none;
}


.feature-header {
    font-family: 'Maven Pro', sans-serif !important; 
    padding: 10px;
    border-radius: 10px;
    margin: auto;
}

.feature-content {
    padding: 20px;
    margin: auto;
    width: 90%;
    border-radius: 10px;
}

.txtHeader {
    font-family: 'Maven Pro', sans-serif !important; 
    padding: 10px;
    border-radius: 10px;
    margin: auto;
}

.divHeader {
    background-color: #2c3e50;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    margin: auto;
}

.gototable {
    color: #fff !important;
    background-color: #2ecc71 !important;
    padding: 10px !important;
    height: auto !important;
    font-size: 18px !important;
}



