// Place all the styles related to the homepages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body > div.container-fluid > div.new-update.mdl-shadow--3dp > div:nth-child(4) {
    display: block;
}

.new-update {
    margin: auto;
    background-color: #ecf0f1;
    width: 60%;
    border-radius: 10px;
    padding: 10px;

    h6 {
        display: inline;
    }

    ul > li {
        font-size: 16px;
        color: #000;    
    }
}

.day-header {
    font-size: 18px;
    padding: 5px;
    border-radius: 10px;
    background-color: #27ae60;
    color: #fff;
    width: 50%;
    margin: auto;
}

.ui-widget {
    font-family: 'Maven Pro', sans-serif !important; 
}

#accordion p ul li {
    font-family: 'Maven Pro', sans-serif !important;    
}

div.target p {
    font-family: 'Maven Pro', sans-serif !important; 
}


.update-header {
    font-family: 'Maven Pro', sans-serif !important; 
    background-color: #27ae60;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    width: 50%;
    cursor: pointer;

    i {
       color: #c0392b;
    }
}

.update-content {
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    width: 90%;
    display: none;
}

.feature-header {
    font-family: 'Maven Pro', sans-serif !important; 
    padding: 10px;
    border-radius: 10px;
    margin: auto;
}

.feature-content {
    padding: 20px;
    margin: auto;
    width: 90%;
    border-radius: 10px;
}

.txtFeature {
    background-color: #f1c40f;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    letter-spacing: 8px;
    width: 70%;
    margin: auto;
    
    h4 {
       font-size: 30px !important;
    }
}

.txtUpdate {
    background-color: #8e44ad;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    letter-spacing: 8px;
    width: 70%;
    margin: auto;

    h4 {
        font-size: 26px !important;    
    }
}

.txtAboutWebsite {
    background-color: #2980b9;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    letter-spacing: 8px;
    width: 70%;
    margin: auto;
}


